aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiosignal==1.4.0
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.11.0
attrs==25.4.0
beautifulsoup4==4.14.2
bs4==0.0.2
causal-learn==0.1.4.3
certifi==2025.11.12
cfgv==3.4.0
charset-normalizer==3.4.4
click==8.3.1
contourpy==1.3.3
cycler==0.12.1
distlib==0.4.0
distro==1.9.0
docutils==0.22.3
dotenv==0.9.9
fastexcel==0.16.0
filelock==3.20.0
fonttools==4.60.1
frozenlist==1.8.0
fsspec==2025.10.0
graphviz==0.21
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
httpx-ws==0.8.2
hydra-core==1.3.2
identify==2.6.15
idna==3.11
itsdangerous==2.2.0
jedi==0.19.2
jinja2==3.1.6
jiter==0.12.0
joblib==1.5.2
jsonpatch==1.33
jsonpointer==3.0.0
kiwisolver==1.4.9
langchain==1.0.7
langchain-core==1.0.5
langchain-openai==1.0.3
langchain-text-splitters==1.0.0
langgraph==1.0.3
langgraph-checkpoint==3.0.1
langgraph-prebuilt==1.0.4
langgraph-sdk==0.2.9
langsmith==0.4.43
lmstudio==1.5.0
loro==1.8.2
lxml==6.0.2
marimo==0.17.8
markdown==3.10
markupsafe==3.0.3
matplotlib==3.10.7
momentchi2==0.1.8
mpmath==1.3.0
msgspec==0.19.0
msgspec-m==0.19.3
multidict==6.7.0
narwhals==2.11.0
networkx==3.5
nodeenv==1.9.1
numpy==2.3.4
omegaconf==2.3.0
openai==2.8.0
orjson==3.11.4
ormsgpack==1.12.0
packaging==25.0
pandas==2.3.3
parso==0.8.5
patsy==1.0.2
pillow==12.0.0
platformdirs==4.5.0
polars==1.35.2
polars-runtime-32==1.35.2
pre-commit==4.4.0
propcache==0.4.1
psutil==7.1.3
pydantic==2.12.4
pydantic-core==2.41.5
pydot==4.0.1
pygments==2.19.2
pymdown-extensions==10.17.1
pyparsing==3.2.5
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
pytz==2025.2
pyyaml==6.0.3
regex==2025.11.3
requests==2.32.5
requests-toolbelt==1.0.0
ruff==0.14.5
scikit-learn==1.7.2
scipy==1.16.3
setuptools==80.9.0
six==1.17.0
sniffio==1.3.1
soupsieve==2.8
starlette==0.50.0
statsmodels==0.14.5
sympy==1.14.0
tenacity==9.1.2
threadpoolctl==3.6.0
tiktoken==0.12.0
tomlkit==0.13.3
torch==2.9.1
torch-geometric==2.7.0
tqdm==4.67.1
typing-extensions==4.15.0
typing-inspection==0.4.2
tzdata==2025.2
urllib3==2.5.0
uvicorn==0.38.0
virtualenv==20.35.4
websockets==15.0.1
wikipedia==1.4.0
wsproto==1.3.1
xxhash==3.6.0
yarl==1.22.0
zstandard==0.25.0
